<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Живописное произведение как индикатор актуальной жизненной ситуации</title>
    <meta name="author" content="const-se.ru">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <style>
        html { height: 100%; width: 100%; }
        body { margin: 0; padding: 0; position: relative; height: 100%; width: 100%; }
        .panel { background: #ccc; padding: 15px; }
    </style>
    {% block head_additions %}{% endblock %}
</head>
<body>
    {% block panel %}
        <div class="panel">
            Нравится (<span id="like-count">{{ user.like|length }}</span>) |
            Отталкивает (<span id="dislike-count">{{ user.dislike|length }}</span>) |
            Написал бы сам (<span id="self-count">{{ user.self|length }}</span>) |
            <a href="{{ path('mark', {'step': 1}) }}">Закончить отбор</a>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block body_additions %}{% endblock %}
</body>
</html>